<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title></title>
</head>
<body>

<a href="/mushihimesama">Mushihimesama</a>
<a href="/crimzon_clover">Crimzon Clover</a>
<a href="/ikaruga">Ikaruga</a>

<table>
    <tr>
        <th>Casper</th>
        <th>Rosa</th>
        <th>Sakura</th>
        <th>Windia</th>
        <th>Follett</th>
    </tr>

    <tr>
        <td><img src="http://a136.idata.over-blog.com/0/01/53/72/jeux-x360-2/deathsmiles-001.jpg"</td>
        <td><img src="http://t1.gstatic.com/images?q=tbn:ANd9GcTbMkhUsgAtTRwJfeu_BXoBx2JobwgYjmGnQ57UruNksKI1CmyAt_pmUsw"></td>
        <td><img src="http://image.jeuxvideo.com/images-sm/x3/d/e/deathsmiles-deluxe-edition-xbox-360-1299518324-024.jpg"></td>
        <td><img src="http://www.planetemu.net/data/php/articles/files/image/Chaz/Deathsmiles/0003.png"></td>
        <td><img src="http://hiscores.shmup.com/photos/1453528144108-image.jpeg"></td>

    </tr>

</table>


</body>
</html>